[2016-04-15 00:40] friism opened #1 "pushml failure"
This is on Windows

[code]

[2016-04-15 01:08] friism opened #3 "`--debug` causes password to be output in cleartext"

[2016-04-15 01:09] friism commented on #1
[code]

[2016-04-15 01:53] #3 closed

[2016-04-15 14:13] friism commented on #1
I think this is user error caused by one of the _tags_ missing - the error handling should probably be improved. I think this array can be empty: https://github.com/estesp/manifest-tool/blob/master/docker/createml.go#L74

[2016-04-15 14:22] estesp commented on #1
oh man..that's ugly.  The error check is after that assignment, which will most likely be a nil object if there is an error.  I'll fix that..thanks!

[2016-04-15 14:36] #1 closed

[2016-04-15 14:37] estesp commented on #1
Let me know if this resolves the problem--fixed it here when I used a bad tag/image

[2016-10-06 05:54] harche opened #13 "Best effort stack creation"
Copied from https://github.com/harche/stackup/issues/4

"Feature request:

I'm trying to hook this into our build process to support multiple architectures. At the moment it is a bit of a boot strapping nightmare to create the docker stackup/manifest because the manifest creation will fail if one of the build images is missing. I think it'd be better if a best effort manifest is created and the to

[2016-10-13 15:13] KurtStam opened #14 "manifest-tool seems to be missing support for private registries running on http"
[root@centos7 ~]# manifest pushml centos-manifest.yaml
INFO[0000] Retrieving digests of images...
INFO[0000] Image "172.30.172.11:5000/default/aarch64-centos:7" is digest sha256:5e96e595fef57a24e42924787ecb272dca6dae83d9e965471601b251e67eeafe; size: 1180
INFO[0000] Image "172.30.172.11:5000/default/centos:7" is digest sha256:8f3eea49e622b9cfb525616f74a33dd4b259e8ecaa107bb422bc9da91fad7ecb; size: 3

[2016-10-18 22:20] estesp commented on #14
Been a busy week; sorry to just now get back to you @KurtStam

Looks like the query of digest codepath was OK with HTTP, but the push/create path is not.  I can look into solving this, but also note we are starting work in Docker to make manifest manipulation (including manifest list creation) part of the official docker client; so existence of this tool long-term is tenuous and dependent on my ab

[2016-12-24 17:13] amouat opened #15 "Add usage example"
There is sort of half an example, but it doesn't work as it's missing the pushml command.

You could also paste the output of `manifest --help`.

Merry Xmas :christmas_tree: :)

[2017-01-16 21:40] estesp commented on #15
Thanks @amouat ; sorry just getting back to this now.  Just merged #16 from @luxas and he or I will need to get the README up to date with the new command structure! It's on my TODO list now.

[2017-01-21 14:26] estesp commented on #15
I've updated the `README.md` with a proper example for the YAML form for `push`; @luxas would you mind submitting a good example for the command line version?

[2017-01-28 11:41] DieterReuter opened #17 "Please provide release binaries for linux-arm64"
@estesp It would be great if we'd have binaries for linux/arm64 created at release time, I guess you just have to include this new arch into your cross-compile build script. :smirk:

There are some cool aarch64 servers out there which didn't have the possibility to run arm 32bit code, I'm thinking about the  Cavium ThunderX powered packet.net 2A servers I'm working with.

[2017-01-30 01:33] estesp commented on #17
@DieterReuter happy to do so..totally forgot to do arm64; will add it to the release. Thanks!

[2017-01-30 19:00] DieterReuter commented on #17
Cool.

[2017-02-08 17:13] estesp commented on #17
I just released v0.4.0 and included arm64 binaries in the release: https://github.com/estesp/manifest-tool/releases/tag/v0.4.0

Let me know if you get a chance to test on your board. Thanks!

[2017-02-08 17:13] #17 closed

[2017-02-08 17:27] DieterReuter commented on #17
Great, thanks!

[2017-02-10 22:25] tianon opened #22 "Wishlist: --skip-missing / --ignore-missing"
I'm not picky about the flag name, but having some way to tell `manifest-list push` that I'd like it to ignore/skip images which don't exist (and simply not include them in the manifest list it creates) would be a really nice addition (and would save my wrapping code from needing to do `manifest-tool inspect` while it generates YAML just so that `manifest-tool push ...` can inspect yet again...).

[2017-02-16 22:58] glennc opened #23 "multiple tags in a single yml file"
In a single repo I want to setup multiple tags pointing to the same few base images. Something like this:

[code]
Is there a YAML format I am missing that would make this possible? Seems like I would need many different files to make it work right now.  If there is no good way to do it I could propose some formats we would accept and do a PR. Though my Go skills are weak so it might be a painful P

[2017-02-16 23:17] tianon commented on #23
I don't think `manifest-tool` supports/uses them now, but "documents" could be used for this type of functionality (http://www.yaml.org/spec/1.2/spec.html#id2760395):
[code]

[2017-02-16 23:40] glennc commented on #23
Yeah, makes total sense to use that as the way to support it.

[2017-02-17 00:30] tianon commented on #23
(A closely related feature I'd like is the ability to specify more than one image in the `image:` line so that the same exact manifest object can be pushed twice without having `manifest-tool` repeat the work of looking up the images it needs to push and potentially getting a different answer on subsequent tries, but I'll open a separate issue for that if @estesp tells me to :innocent:)

[2017-02-17 00:45] glennc commented on #23
I was going to bring up the same thing in this issue depending on how the conversation went :).

[2017-02-23 20:34] nucleardreamer commented on #23
Yes please! This would be extremely helpful

[2017-02-23 22:17] glennc commented on #23
I am good with working through a PR, but I didn't want to start the effort if @estesp didn't want it.

[2017-02-28 17:54] tianon commented on #23
@estesp yeah -- I've got a group of images from multiple architectures which I need joined into a manifest list, and that final manifest list needs to be pushed to several tags on the Hub / registry

For example, in the case of the `busybox` official image (ignoring that it has more than one variant for just a moment), I'd need to create `busybox:1.26.2`, `busybox:1.26`, `busybox:1`, and `busybox:

[2017-02-28 17:57] glennc commented on #23
I have the exact same scenario with our images.

[2017-03-07 19:41] vielmetti opened #25 "Fill out description fields in registry?"
The Docker registry has some descriptive fields in it that allow the developer to (somehow) give some text description to the image.

If you upload to Docker hub with this tool, those fields are blank, cf. https://hub.docker.com/r/vielmetti/multiarch-gitea/

It would be a welcome extension to manifest-tool to support updating those fields. (Or, if that's out of scope for this tool because of lack

[2017-03-15 10:34] aitorhh commented on #14
I have the same problem as @KurtStam  with my private repository. I was trying to do the same as the option in the /etc/docker/daemon.json:
[code]
I try some things like:
[code]
or
[code]
But none of these worked.

@estesp is there a solution?

In the meantime I will create a self-signed certificate for my server, and try again.

Thanks!

[2017-05-22 20:25] StefanScherer opened #27 "Missing os_version attribute in Windows images"
I found a difference between the manifest-tool and the moby/moby#27455 PR for the "docker manifest" command.

After testing the "docker manifest" command I found out that such fat manifest list has the os_version attribute filled for the Windows image:

[code]

My previous multi-os images for Linux + Windows do not have this os_version attribute filled:

[code]

So it seems the different way to cr

[2017-06-01 22:31] tianon commented on #23
Friendly poke @estesp :pray: :innocent: :heart:

[2017-06-01 22:31] tianon commented on #22
Friendly poke @estesp :pray: :innocent: :heart:

[2017-06-05 12:43] hrw commented on #15
What about "inspect" example?

[2017-06-06 20:51] estesp commented on #25
One of the issues here is that if we are talking about author/comment information, these are per-image and specific to an image config.  The manifest list object type does not duplicate these fields, so there is nowhere in the manifest list "object" to place things like "author" or "comment".  They will still exist in the target images (which must already exist somewhere on DockerHub or a private

[2017-06-07 01:12] #27 closed

[2017-06-07 05:00] StefanScherer commented on #27
Awesome 👍 Thanks.

[2017-06-07 15:58] estesp commented on #27
@StefanScherer you're welcome! I was thinking of releasing a "0.5.0" today or tomorrow; can you build master and test this function on a Windows image? Or can I provide you a binary if that would help? Thanks!

[2017-06-07 16:17] StefanScherer commented on #27
@estesp Building a binary was easy ( `make shell` and `make cross` )

I tried it with my `whoami` images and it looks good:

[code]

The new "multiarch image" / manifest list looks good:

[code]

[2017-06-07 16:24] estesp commented on #27
Great! Thanks so much for testing

[2017-06-07 16:43] #13 closed

[2017-06-07 16:43] #22 closed

[2017-06-12 19:08] tianon commented on #23
This is actually even more of a problem than I first thought, since it needs to "mount" _all_ the blobs of all the layers of all the images being included, which takes a significant amount of time (and in the case of the alias tag pushes, is 100% duplicate work).

[2017-06-12 19:09] tianon commented on #23
(On the plus side, though, it appears that pushing the exact same list of images twice results in the same digest, so at least there's that! :metal:)

[2017-06-13 19:13] estesp commented on #23
Yes.. somehow this missed my radar for that release I made last week. Let me think about how to represent additional tags in the yaml, as it really should be a different "action" (pretty sure I can tag the final digest using the registry API rather than acting like it is another push which will give you a **huge** speedup)

[2017-06-14 08:54] StefanScherer opened #31 "Use manifest-tool/docker manifest to "retag" manifests for staging?"
In our pipeline we use different tags for stages like unstable, testing, stable, ...
At the moment to retag an image we have to pull it completely, tag it and push the tag (which will be cached as no layer has differences). This is done on a separate machine that normally has no images pulled, so we don't want that pull as it takes time.
And thinking of multiarch/multios images for Windows and Lin

[2017-06-14 15:59] estesp commented on #23
I just realized the PR I have created deals with @tianon's use case but maybe not the originator's (@glennc)?

The new feature in the YAML input is, after specifying the target `image: ...` you can now specify a list of tags like:
[code]

And the manifest list created by the rest of the YAML spec will be tagged with the default tag ("latest") or the one specified in the `image: ...` specifier, **a

[2017-06-14 16:03] estesp commented on #31
Hey @StefanScherer can you let me know if you think #32 helps here? You would still need the YAML definition, but would allow you to roughly "remote tag" an existing tag, although it would do the calculations of cross-repo mounts, digests, etc. for the original tag first. Almost wonder if there is a use case here for a true "remote tagging" operation by just pulling the manifest (in your case the

[2017-06-14 16:32] StefanScherer commented on #31
Thanks @estesp. Between tagging "testing" and "production" there are running tests to multiple such images. When all the images pass the tests we want to tag all them that have the "testing" tag and tag it for next stage.
Otherwise we have to handle lots of different version numbers of each microservice (semver per service).
So #32 doesn't help here (but looks good to tag major-only, major+minor,

[2017-06-15 14:21] #23 closed

[2017-06-27 18:36] yamag104 opened #33 "incorrect manifest reference push URL"
Hello,

I am having trouble pushing my manifest list to my private registry.
Let's say my server was https://docker.test.com/v1/

I am getting the following error. The debug output shows that the reference push URL is appended twice (docker.test.com after docker.test.com).

[code]

This is the command I use to run this:
`./manifest-tool --debug --docker-cfg '/home/user/.docker/' push from-spec <pa

[2017-06-27 19:33] estesp commented on #33
Hi! Thanks for the report. I've tested the hostname/reponame code with your example just to verify there isn't an edge case that I haven't caught yet. All seems to be working fine and no duplication of reponame with the hostname.

Maybe your real use case is slightly different than the "docker.test.com" example above? Can you share with me the full debug output or provide the exact repo names in c

[2017-06-27 19:48] yamag104 commented on #33
Hi!
This represents my use case better: docker4.foo.test.com
Please let me know if you can repro this.
[code]

[2017-06-27 20:58] estesp commented on #33
:( sorry--still no luck or any change. Maybe the interactions with whatever registry backend are making the resolution of endpoint, URL, hostname, etc. act differently? Any way to get a full debug output and any information on the registry itself that would help debug? Thanks!

[2017-06-27 21:20] yamag104 commented on #33
Ah okay. That's strange. I am using artifactory if that helps. I can't give out the information on the registry itself. Later when I have time, I will try to clone this project and debug. I will create a PR if I resolve this issue. Thanks!

[2017-06-27 21:20] #33 closed

[2017-06-30 00:23] joaofnfernandes opened #34 "Can't push to different repository"
The readme says

But I was having problems with it. I tested this on Docker Trusted Registry, but I bet you'll see the same behavior with the open source registry.

### Example yaml
Here I'm fetching from the `admin/hello-world` repo and pushing to the `admin/multi` repo

[code]

### Logs

[code]

Note that the in the penultimate line it seems that the push url is wrong, since it includes twice th

[2017-06-30 03:57] estesp commented on #33
@yamag104 sorry for the misunderstanding--I was working too quickly and missing that your log snippet was talking about the manifest **reference** push URL, not the manifest list push URL! The linked PR (#35) should fix your issue. I will probably do a quick release with this tomorrow as this is a glaring mistake on my part for not fully testing private registries!

[2017-06-30 03:58] #34 closed

[2017-06-30 04:00] estesp commented on #34
Thanks for the report! I had missed this was a bug in the manifest *reference* code when it was reported a few days ago in a separate issue. Only slightly embarrassing that I hadn't done a full test against private registries with cross-repo mount/referencing! The referenced PR fixes the issue and I have tested with a local private registry. I will probably make a release tomorrow since this is a

[2017-06-30 16:04] estesp commented on #15
Added `inspect` example and better/clearer documentation for all commands in #37

[2017-06-30 16:04] #15 closed

[2017-06-30 16:49] estesp commented on #33
Please feel free to try the 0.6.0 release and let me know if your issue is fixed! https://github.com/estesp/manifest-tool/releases/tag/v0.6.0

[2017-06-30 16:50] estesp commented on #34
Feel free to let me know if the v0.6.0 release fixes your problem: https://github.com/estesp/manifest-tool/releases/tag/v0.6.0

[2017-07-20 19:33] troyfontaine opened #42 "HTTP 401 when Mounting Blobs for cross-repository push"
So I'm attempting to use manifest-tool 0.6.0 on macOS Sierra and I'm getting the following error every time I try to push to my repo troyfontaine/alpinelinux

YAML file:
[code]

Error:
[code]

Using the exact same YAML file, on my Raspberry Pi 3 with the ARM version of the manifest tool, I don't receive the 401 error and instead it looks like it successfully pushes the two images as one to Dockerh

[2017-07-21 01:28] troyfontaine commented on #42
So I ran into other Docker related issues with my Mac (OCI runtime error), so I blew Docker away and re-installed.  That fixed some of my other problems-but not the pushing error.  Using a non-qemu ARM image seems to work normally when I use the manifest tool from my Raspberry Pi and the x86_64 image works fine.  Could this be an expected limitation?

[2017-07-21 14:31] estesp commented on #42
It looks like on your Pi it actually is finding your credentials:
[code]
But on your Mac it is not:
[code]

I think this may be because Docker for Mac now handles credentials via `osxkeychain` instead of saving them in the `config.json` file. Can you try again on Mac, but actually passing credentials for DockerHub in `--username` and `--password`? I probably need to figure out which version of Doc

[2017-07-21 15:57] troyfontaine commented on #42
Ah ha!  Sorry, I missed that line.  That was indeed it.  I had tested using username and password, but it didn't like the special characters in my password so I went back to trying to thinking it could just use the credentials file.  I changed my password's special characters to compensate and it does indeed work now.  Thank you!  Do you want this issue left open for the keychain related documenta

[2017-07-21 20:16] estesp commented on #42
Yes, thanks. I've added a note about Docker for Mac and clarity around credentials in general in the README in #43. Let me know if it reads clearly.

[2017-07-24 19:22] #42 closed

[2017-09-03 17:17] #31 closed

[2017-09-11 22:11] tianon opened #47 "Pushing to "library/xxx" fails"
Pushing to `library/xxx` ends up creating URLs referencing only `xxx`, which then fails.

The issue appears to be in the current copy of the upstream `github.com/docker/distribution` / `github.com/docker/docker` code, but it's not clear whether updating those would solve the problem (and the update is non-trivial to perform).

A full log of a failed push can be found at: https://gist.github.com/an

[2017-09-12 06:27] estesp commented on #47
ping @stevvooe or @dmcgowan: when you get a chance, could you let me know how push to `library/` is handled in the docker client/engine? I assume there is some potential magic there which handles retaining the "library/" prefix when necessary on push..

[2017-10-06 20:51] #47 closed

[2017-10-06 21:31] stevvooe commented on #47
@estesp Sorry, completely missed this. Looks like you found a solution.

[2017-11-14 03:39] CraigGardener opened #53 "Mount blobs for cross-repository push fails with error 401"
I am using the `test-registry.sh` script against GitLab's built in docker registry and receive the following error:
[code]
Looking at the registry logs on the GitLab server, I see the following output:
[code]
Listing the tags works without issue, however the next steps are not authorised.

[2017-11-14 20:42] estesp commented on #53
I don't have any experience with GitLab container registry, but it does appear to be based on the docker/distribution 2.6.x codebase, so generally manifest list support should "just work."

However, trying to read up on auth and making sure that there isn't anything unique.. it's unclear whether that might be the issue? Specifically reading through [this doc on private projects](http://docs.gitlab

[2017-11-14 21:31] CraigGardener commented on #53
My `~/.docker/config.json` looks like this:

[code]
I am happy to set you up with access to my GitLab server for testing, however using GitLab.com (https://gitlab.com/users/sign_in) should also work for you as far as I'm aware.
Please let me know if there's anything I can do to help.
Thanks

[2017-11-14 21:32] CraigGardener commented on #53
I've tested again using an access token to do the docker login rather than a password with the same results.
Using Gitlab.com gives the same error too.

[2017-11-15 19:39] CraigGardener commented on #53
I've logged this as a bug on the GitLab issue tracker:
https://gitlab.com/gitlab-org/gitlab-ce/issues/40197

[2017-12-12 15:25] Nemo157 commented on #53
After some debugging this looks like it's probably caused by a bug in GitLab's `/jwt/auth` handler, the request for mounting the blobs require scope to 2 different repositories, these are passed as two separate `scope` query parameters, but the resulting JWT token only contains the second, that then results in the "insufficient scope" error message because the token that's being used lacks the acc

[2018-01-30 21:24] AceHack opened #55 "Does not work for Azure Container Registry (ACR)"
I am able to pull and push using docker without any issues and I just used the standard docker login command.

Pushing MultiArch File /opt/vsts/work/_temp/748ea4a0-2253-467f-86c9-d117f52032e7/multiarch.yml using /opt/vsts/work/_tasks/PushDockerMultiArchTag_013ac686-e3c8-4414-aebd-15ec11e897ed/0.2.20/tools/manifest-tool-linux-amd64
time="2018-01-30T21:19:30Z" level=debug msg="endpoints: [{false htt

[2018-02-05 15:16] rcastill commented on #55
I'm receiving 401 Unauthorized trying to push to Azure registries as well. Is this planned to be supported?

[2018-02-05 16:18] AceHack commented on #55
@rcastill I ended up using docker CLI 18.02 RC with client-side experimental flag enabled.  I just included the executable for Windows and Linux in my custom VSTS task.  the docker manifest commands didn't need any access to the docker daemon so it worked just fine.  Thanks.

[2018-02-05 21:24] rcastill commented on #55
@AceHack thanks! however I haven't been able to find how to enable experimental flag on client-side. All the documentation talks about daemon experimental features. Can you point me in the right direction?

[2018-02-05 22:03] AceHack commented on #55
Add `"experimental": "enabled"` to the docker cli config file.  There is an environment variable you can use to point to the folder that the config file is in DOCKER_CONFIG.

The default is C:\Users\astainba\.docker\config.json on windows.

[2018-02-05 23:35] estesp commented on #55
@rcastill please let me know if `docker manifest` with the same credentials works for you. It looks like in the debug log it found your credentials (it uses the same from `docker login`) and was using them, but I haven't had a chance to verify that Azure Container Registry supports manifest list media type (and maybe the `401 Unauthorized` is a red herring?)

Wondering if @stefanscherer knows or h

[2018-02-06 01:19] rcastill commented on #55
@AceHack I had tried that (instead I used "experimental": true), thanks!

@estesp I can confirm it works with `docker manifest`. I successfully deployed an image to a linux 64 machine and a raspberry pi with the same reference.

[2018-02-06 05:50] AceHack commented on #55
@estesp Yes I can confirm too, that `docker manifest` works and Azure Container Registry works fine with manifest list media type.  The 401 only comes from using manifest-tool.  Thanks.

[2018-02-17 20:14] estesp commented on #55
@AceHack could you share your input yaml file with me? I have an azurecr account now and want to make sure I test the same thing you test; I think I know the source of the issue, but need to confirm.

[2018-02-19 00:59] estesp commented on #55
This is corrected by PR #56; sorry about that; some code that was in here for helping @tianon push to the library repos in DockerHub wasn't fully tested and had a bug!

[2018-02-19 01:05] #55 closed

[2018-09-21 15:09] #53 closed

[2018-10-04 21:06] JoshEbersol opened #59 "manifest-tool doesn't support arm on windows"

[2018-10-07 22:27] MaitreDede commented on #14
Hi,
Same problem : I have to deal with an insecure registry that works only in http (and I can't activate https), docker pull/push works fine. But neither docker manifest commands nor your tool works.

[2018-10-08 15:00] clnperez commented on #14
there was just a fix put into the manifest command from the docker cli regarding https. you wouldn't happen to be using rhel/centos would you @MaitreDede ? https://github.com/docker/cli/pull/1378

[2018-10-15 12:28] #59 closed

[2018-10-18 16:32] thockin opened #61 "Error from manifest-tool against GCR"
This seems new, so possibly something changed in GCR, but I am not sure where to look.  @mattmoor too ?

[code]

vs

[code]

Can you lend me a clue?

[2018-10-18 17:41] thockin commented on #61
I reinstalled everything and re-enabled gcloud auth and re-enabled docker experimental and now it seems to work...

[2018-10-18 17:41] #61 closed

[2018-10-31 20:39] thockin commented on #61
It's back.  I have no idea why.

[code]

vs

[code]

It seems that the error is coming from deep within vendored docker code.  I can't explain this.  @estesp any clues?

[2018-10-31 20:40] estesp commented on #61
@thockin Hmm..

Happy to try and investigate; is it actually an authenticated image repository? Do you normally require credentials to view or pull that image?

[2018-10-31 22:15] thockin commented on #61
It's supposed to be a public repo with no read-auth required.  It has worked in the past - I really don't know what is happening or where to look.

[2018-10-31 22:29] estesp commented on #61
With no gcloud auth setup in my Docker install I am unable to inspect that image. No object found. How do I find Jim Johnsons GitHub ID while on my phone? He can probably help figure out from the gcr.io side.

Sent from my iPhone

[2018-10-31 23:38] thockin commented on #61
I am wrong, it's not public (should be, different issue).  It is auth'ed.

But I am authenticated.  I can `docker push` and `docker pull` to that repo, but manifest-tool can't read it.

I've configured all my docker auth helpers, and so on.

[2018-11-01 13:04] estesp commented on #61
@thockin I'm not sure how it ever works, but sadly I've never had time to add credential helper support to `manifest-tool`, so if your `~/.docker/config.json` points to credential helpers instead of having an actual token, `manifest-tool` can't use it and therefore doesn't auth.

You can use a cloud's client tools to get an actual token auth string and pass it to `--user` and `--password` in `mani

[2018-11-01 15:21] thockin commented on #61
I'm not sure what magic incantation of gcloud gets me a credential that works in this context.  Awesome.  Thanks for the help, I'll keep digging.

[2018-11-01 15:46] estesp commented on #61
`$ gcloud auth print-access-token`

You can then use the ID `oauth2accesstoken` as user id string and the token from above as password and use them as flags to the `manifest-tool` command line. This is mostly from [here](https://cloud.google.com/container-registry/docs/advanced-authentication#access_token)

[2018-11-01 16:38] mattmoor commented on #61
yeah see: https://cloud.google.com/container-registry/docs/advanced-authentication#access_token

[2018-11-30 08:12] CocoaWang opened #64 "Should I re-push manifest each time I update my image ?"
I am building multi-arch images across s390x and amd64.
 Say I have a image manifest like
[code]
And I pushed the manifest file and the images `swangbj/gosdk:s390x-latest` and `swangbj/gosdk:amd64-latest` to the docker hub. After that , I can pull images in different architecture with same tag `swangbj/gosdk:latest`.
But after I pushed the new image `swangbj/gosdk:s390x-latest`,it seems I can't ge

[2018-12-20 07:23] erwinkersten opened #65 "Pushing a manifest list to a Azure Container repositries that has a tag count over 100 fails"
## Description:
Pushing a new manifest list to an azure container repositries that has a tag count over 100 will fail. An error mesage is shown that contains "unsupported protocol scheme". The manifest tool tries to determine the latest image with the V2 Container Registry API endpoint. The API respone is paged and delivers only the first 100 tag entries, based on this result a wrong tag is  detrm

[2018-12-31 14:25] ChristianKniep opened #66 "Manifest-Lists needs to have the same repo-name"
I am exploring it in the context of having images for accelerators or optimized for a certain CPU and I would like to clarify how this works.

Say I have this YAML
[code]
I do a `push` and it works fine. Looking at the spec I was afraid that the image had to have the same base name since the manifest list definition only specifies digests referencing to the same name.
https://docs.docker.com/regis

[2019-01-09 00:11] JoshEbersol commented on #65
I debugged this with some help from @jhowardmsft, and the root cause appears to be a long-fixed docker/distribution bug:

https://github.com/docker/distribution/pull/2448

Presumably this project just needs to vendor in the latest Docker packages to get the fix.

[2019-01-09 02:54] estesp commented on #66
@ChristianKniep no, there is no image **content** changes in the registry using `manifest-tool` to assemble manifest lists. All content must already be pushed to the registry at the time that a manifest list is assembled.

What the manifest tool is doing is creating a manifest list JSON object with references to all the content that will be indexed within the manifest list--so the manifests, image

[2019-01-09 13:57] ChristianKniep commented on #66
Cool, thanks for the elaboration! Awesome tool btw...

[2019-01-09 13:57] #66 closed

[2019-01-09 17:57] estesp commented on #65
Thanks @JoshEbersol for the useful debug help!

@erwinkersten I have gotten the binary back to building/mostly working after bringing the vendors into the modern era; sounds like once I am done that should solve your issue. I will probably do some form of "RC" release so people can test and validate. I am going to do some validation/testing across the registries I have access to before I do that.

[2019-01-09 22:35] estesp commented on #64
@CocoaWang sorry, somehow I missed the GitHub notification on this issue. Yes, because the reference(s) to the target images are generated at the time you use `manifest-tool` to generate the manifest list in the registry, if you update any of the architecture-specific issues, you need to re-run `manifest-tool` to regenerate the target manifest list in the registry with updated references.

Let me

[2019-01-15 22:34] estesp commented on #65
@erwinkersten test build for 64-bit Windows: [manifest-tool-windows-amd64-testbuild.zip](https://github.com/estesp/manifest-tool/files/2761759/manifest-tool-windows-amd64-testbuild.zip)

[2019-01-16 06:47] erwinkersten commented on #65
@estesp Thanks the issue is resolved with the provided testbuild.
@JoshEbersol and @jhowardmsft thank you for additional analysis.!

[2019-01-16 06:47] #65 closed

[2019-01-16 14:06] MichaelSimons commented on #65
@estesp - Do you have an ETA for a release with the fix for this issue?  Thanks

[2019-01-16 20:24] DirtyCajunRice opened #68 "OS Variant info"
As arm has (for example) v6 and v7 variants, it would be awesome to allow for 'if OS/ARCH/VARIANT use variant" else OS/ARCH

[2019-01-16 21:20] estesp commented on #68
Just to make sure I understand, is your `if`/`else` representing a decision flow on the runtime side when pulling a manifest list-based image on ARM? Or do you mean an improvement to how ARM images are built with tools like `manifest-tool`?

[2019-01-16 22:19] DirtyCajunRice commented on #68
the former. im currently making my own yaml on the fly to feed to manifest-tool but only because it is variant unaware in the manifest.
https://gist.github.com/DirtyCajunRice/f05d8f66c8d8a5ce90a26a760c1cccd9

[2019-01-16 22:40] tianon commented on #68
Unfortunately, individual images don't include "variant" in their metadata (nor do they have a slot for it). :disappointed:

[2019-01-16 23:03] DirtyCajunRice commented on #68
so the way im doing it is the only way? if so thats absolutely fine if so just want clarity

[2019-01-16 23:04] tianon commented on #68
Definitely the only way I'm aware of, unfortunately.

[2019-01-16 23:05] tianon commented on #68
(I say, as the author of https://github.com/estesp/manifest-tool/pull/21 which added the "autodetection" behavior in the first place. :sweat_smile:)

[2019-01-16 23:09] DirtyCajunRice commented on #68
haha! i appreciate the prompt info. thanks for all it can do!

[2019-01-16 23:15] #68 closed

[2019-02-05 23:20] ekristen commented on #14
Bump. This is still an issue, probably just need an `--insecure` flag added for push.

[2019-02-08 02:15] estesp commented on #14
Better late than never? I've opened #70 to correct this issue and will validate/merge it prior to releasing a 1.0.0-final

[2019-02-08 02:23] ekristen commented on #14
Awesome! Definitely will help make testing mulit-arch stuff locally way easier.

[2019-02-08 02:23] ekristen commented on #14
Thanks.

[2019-02-11 23:30] #14 closed

[2019-02-12 17:58] ekristen opened #71 "from-args platform should support variant too"
`os/arch/variant` or `os/arch` should both be valid

### Use Case

There are many, here is one example.

* `linux/arm64/v8`
* `linux/arm/v5`
* `linux/arm/v7`

[2019-02-12 23:32] ekristen opened #73 "Build a multi-arch image of manifest-tool"
I think you should build docker images for each architecture you build the tool for and publish to estesp/manifest-tool and use manifest-tool to publish the manifest on the tag at release time.

You would be using your own tool and it would make the official image of your tool available for use in container based CI/CD systems like Drone, GitLab CI, etc ...

[2019-03-14 22:49] tianon opened #74 "schema version 1 manifest shows as having zero layers"
There was a blip of Docker Hub acting up recently while our arm64 server was pushing `golang` such that some of our tags managed to be pushed with a media type of `application/vnd.docker.distribution.manifest.v1+json`, which is all fine and well (`docker pull` can handle them just fine), but when inspecting them via `manifest-tool`, they show with `Layers: 0`:

[code]

I tried to dig into the code

[2019-03-18 20:01] estesp commented on #74
Ok, I found the issue. Will get a PR submitted to solve it ASAP. The v1 fetch code actually works, so that's the good news :) Simply an error in creating the "inspect" object from the slightly different fields of the v1 manifest.

[2019-03-18 21:37] estesp commented on #74
@tianon opened #75 to fix the image inspect of v1 manifests.

[2019-03-19 13:45] #74 closed

[2019-03-20 13:05] estesp commented on #71
Closed by #72

[2019-03-20 13:05] #71 closed

[2019-03-21 20:22] #73 closed

[2019-03-21 20:24] estesp commented on #73
As soon as I build a tag (e.g. **v1.0.0-rc2**) of this repo, an image on DockerHub named `mplatform/manifest-tool` will appear which will support ppc64le,s390x,armv7,arm64,amd64 on Linux and amd64 on Windows.

[2019-03-21 20:27] ekristen commented on #73
Sweet!

[2019-03-21 23:05] estesp commented on #73
v1.0.0-rc2 is on DockerHub!
[code]

[2019-03-21 23:19] ekristen commented on #73
Awesome!

Sent from my iPhone

[2019-03-22 10:14] StefanScherer commented on #73
Thanks @estesp that is awesome!

[2019-04-04 05:31] huxiaoliang commented on #14
@estesp  it seems `--insecure ` doesn't work.

1. I get the tools from wget  https://github.com/estesp/manifest-tool/releases/download/v1.0.0-rc2/manifest-tool-linux-amd64

2. for the image from docker hub, it works well
[code]
3. the image from my private registry without auth failed

[code]

4. my registry was setup by follow command:

[code]

[2019-04-11 06:40] MrZhaoAtBJ commented on #14
I had the same problem with huxiaoliang

[2019-04-11 08:14] MrZhaoAtBJ commented on #14
I solved this problem temporarily by adding temporary code.
in docker/createml.go, line 336
`
endpoints, err := registryService.LookupPushEndpoints(reference.Domain(repoInfo.Name))
endpoints = endpoints[1:]
`

for docker/inspect.go, also modify endpoints.

this worked for me.
I'm sorry for the ugly code because I haven't used golang before T_T

[2019-04-11 13:12] huxiaoliang commented on #14
@MrZhaoAtBJ  could you help create pr to fix this issue?

[2019-04-12 02:31] MrZhaoAtBJ commented on #14
@huxiaoliang sorry I cannot. I am fresh new to this field and I do not have enough ability to write golang code for production environment T_T

[2019-04-12 14:06] estesp commented on #14
Let me take a look; I had tried several commands with a private registry on port 5000 so I thought it was working properly. The "hack" to just ignore the first entry (which is https I assume) and go to the http-only entry needs to be a more complete "fallback" mechanism that tries the endpoint entries in order. Should be fixable.

[2019-04-13 14:07] MrZhaoAtBJ commented on #14
Yeah, I added some debug log, first entry is https. Maybe can skip trying https entry.

[2019-04-16 21:59] estesp commented on #14
See #77 for a more complete fix

[2019-07-17 06:46] dongwangdw opened #79 "what does option os feature mean?"
I am not sure if this tool can differentiate os distro, like ubuntu and redhat.
Then I got the os feature`--os-features stringSlice   Set operating system feature`, just ask this.

Is that possible to differentiate the two distro?

[2019-07-17 06:54] dongwangdw commented on #79
what are supposed to be os features in linux? Is there any explanation on this option?

[2019-07-17 13:54] estesp commented on #79
This is part of the OCI image specification, and defined here: https://github.com/opencontainers/image-spec/blob/master/specs-go/v1/descriptor.go#L57-L59

It is only used by Windows images today, and as the [official released spec](https://github.com/opencontainers/image-spec/releases/tag/v1.0.1) states for `os.features`:
[code]

[2019-07-17 14:53] dongwangdw commented on #79
@estesp thanks for the reply. I try to differentiate linux distro with same arch(amd64) with this tool. I think it may not be possible.

[2019-08-22 16:59] #79 closed

[2020-02-10 14:44] rfratto opened #84 "Unexpected EOF reading trailer"
We use manifest-tool through Drone's `plugins/manifest` to build ARM and AMD64 images for Grafana Loki. Recently pushing the manifest has [failed](https://cloud.drone.io/grafana/loki/1900/6/3) with the following message:

[code]

We've done a little bit of research and some results online suggested that we had too many docker images; we pruned all images older than 90 days, but the issue is still

[2020-02-11 19:25] estesp commented on #84
Hmm, do you know what level of `manifest-tool` code is being used there? I can do a simple inspect of that image using `manifest-tool` itself:
[code]

Hard to know what's happening without the ability to reproduce. The actual error looks like it's in the bowels of an HTTP interaction, which is simply using the Go HTTP client libraries. Is this repeatable or is it random?

Thanks!

[2020-02-12 15:19] rfratto commented on #84
As a quick update, we've pruned even more images down to around ~800 tags and now manifest-tool has been working consistently. We're happy with the solution for now but I'm concerned about passing the arbitrary threshold into having problems with this again, especially if our rate of commits grows.

I'm not sure what you mean by level here, could you explain? If it helps, [this](https://github.com

[2020-02-19 07:35] koulq opened #85 "After using the registry's gc feature, the multi-scheme previously uploaded using manifest-tool was no longer available"
After using the registry's gc feature, the multi-scheme previously uploaded using manifest-tool was no longer available
registry version：v2.7.1-patch-2819
manifest-tool version：1.0.0
![image](https://user-images.githubusercontent.com/18571340/74811817-3e2d2080-532d-11ea-89b3-1b878b0493ec.png)
![image](https://user-images.githubusercontent.com/18571340/74811834-484f1f00-532d-11ea-84a6-f985cb2dc038.

[2020-02-19 07:36] koulq commented on #85
![image](https://user-images.githubusercontent.com/18571340/74811980-9401c880-532d-11ea-8d85-8c12f03f998b.png)

[2020-03-06 21:26] tianon opened #86 "manifest-tool 1.0.0 fails to run on s390x (sometimes?)"
Here's the backtrace:

[code]

I'm not 100% sure the exact cause, but 1.0.0 was built against Go 1.13(.0), and testing a build against Go 1.13.8 was successful.  Looking through https://github.com/golang/go/compare/go1.13...go1.13.8, my best guess is https://github.com/golang/go/commit/4cb22ee8120ddd9cd8a9ef88ae2a142c5d2f8432 (crypto related s390x fix that talks about a panic), but I haven't done

[2020-03-07 00:29] estesp commented on #86
Please test the [v1.0.1 release](https://github.com/estesp/manifest-tool/releases/tag/v1.0.1) and let me know if this solves the issue.  Thanks!

[2020-03-12 23:54] tianon commented on #86
Sorry for the delay -- had to get it deployed, then had to get a case where we actually invoke `manifest-tool` (on `s390x` no less) to give it a proper test; https://doi-janky.infosiftr.net/job/multiarch/job/s390x/job/python/2160/execution/node/760/log/ confirms this was successful! (`Putting s390x/python:3.7.7` followed by no hairy backtrace)

Thanks so much, @estesp! :heart: :metal:

[2020-03-12 23:54] #86 closed

[2020-03-13 11:02] amouat opened #88 "Integration Test Failure"
When running the integration tests, I get:

[code]

This seems to be caused by this line in docker/util.go https://github.com/estesp/manifest-tool/blob/master/docker/util.go#L25

[code]

(Note armv8 vs v8).

Changing this line in the code makes the tests pass for the Trow registry (on master). I'm not sure if that's the correct fix or if something else is wrong.

[2020-03-13 13:20] estesp commented on #88
Do you know what build tool created the image that has a variant of `armv8`? While I'm not sure we have definitive guidance on `variant`, for ARM the commonly accepted values across the runtimes I know about are `v3` - `v8` without any of them accepting a pre-pending "arm" to the variant name.

The **platforms** package from containerd, for example, is used across several other projects as the def

[2020-03-16 09:47] amouat commented on #88
I'll have a look. Sounds like the right fix is somewhere else though.

Just to give you some background, I added support for the manifest list content type to Trow, which I thought would be enough to support `docker manifest create/push`, but it gives me strange errors. So I tried with manifest-tool, which seems fine except for this problem.

It's off-topic for this repo, but do you know if I'm me

[2020-03-16 10:41] amouat commented on #88
So I looked into it a little more and I don't think I was clear in my initial report.

I'm running the integration test in this repo: https://github.com/estesp/manifest-tool/blob/master/integration/test-registry.sh

And I'm getting the above failure. It _seems_ to be caused the `test-registry.yaml` file: https://github.com/estesp/manifest-tool/blob/master/integration/test-registry.yml#L23 which ap

[2020-03-16 15:46] estesp commented on #88
Ah! This is my registry test; obviously I haven't run it in way too long against any new registries 😇 So, yes, the YAML is using a invalid variant that at some point before the ARM work was finalized was working OK.

[2020-03-16 15:47] #88 closed

[2020-03-24 18:47] estesp commented on #84
@rfratto I finally realized what this might be--the initial code for this project came from an early version of skopeo, which had a general inspect command which included pulling the entire tag list for an image into the raw JSON response; `manifest-tool` doesn't use this information, but it is accessible from the raw JSON data. I think it would be reasonable to remove this "tag query" (which is a

[2020-03-29 10:17] tboerger commented on #84
Even if there is something wrong within the drone plugin I'm happy to help out there.

[2020-03-29 17:51] estesp commented on #84
This is solved by #90.

[2020-03-29 17:51] #84 closed

[2020-03-30 04:17] ibuildthecloud opened #91 "Requesting release 1.0.2"
I've tested https://github.com/estesp/manifest-tool/issues/84 end to end by creating a custom manifest plugin to drone and we've integrated it into our CI.  At your convenience could you please release manifest-tool so that the drone manifest plugin could pick it up.

[2020-04-02 11:32] pugnascotia opened #92 "[Bug] Need to supply username and password despite logging in"
Git version: 856eb8cb437e226231713233bb10aa81ff9e10ac (i.e checked out master a couple days ago)
Go version: `go1.13.7 darwin/amd64`

I was experimenting with pushing manifests to private registry. I logged into it with `docker login`, push some images, but then when I tried to push the manifest, I got:

[code]

I repeated the push with `--username` and `--password` and it succeeded.

I have crede

[2020-04-02 13:03] estesp commented on #92
Unfortunately, this tool's auth support was built before credential helpers/cred stores were implemented  (or around the same time as that was being developed) so this code has no way to access credentials that are either stored in system credential stores or using new designs other than the simple site/user/[pass|token] format of the original docker auth config file.

This may be something that c

[2020-04-02 13:03] estesp commented on #91
Will do this today; thanks!

[2020-04-04 04:00] estesp commented on #91
Completed

[2020-04-04 04:00] #91 closed

[2020-06-07 08:56] andig opened #94 "make binary is broken on master"
I would like to use manifest-tool to investigate error messages I'm getting with docker hub (https://stackoverflow.com/questions/60632911/what-is-the-manifest-blob-unknown-blob-unknown-to-registry-error, any OT comment would be welcome).

I'm failing to compile it though (`go version go1.14.3 darwin/amd64`):

[code]

In my experience this is typically caused by using module replacements directly i

[2020-06-08 14:26] estesp commented on #94
I haven't done the required work to support Go modules on master, but I have done so on my ["`v2-rework`"](https://github.com/estesp/manifest-tool/tree/v2-rework) branch which is extremely close to feature parity with the master branch.

For now, if you want to build master with a recent Golang toolchain, you should be able to ignore  Go modules and use the traditional `vendor/` support that maste

[2020-06-17 17:28] jnovack opened #95 "Documentation Notice: `push from-args` is overwrite, not append."
A major caveat on DockerHub (not your fault) of `push from-args` is that the operation **overwrites** what is there, not **appends**.

This means, you can not dynamically add additional architectures to a pre-existing list or do a multiple-builds and have them join up under 1 tag, you must have the complete list, and push it only at the end when all builds are complete.

I think this should be cal

[2020-06-17 18:32] jnovack commented on #95
The question of "Am I Doing It Wrong(tm)?" comes up.

My autobuild on Docker Hub looks like this:
![image](https://user-images.githubusercontent.com/387006/84935409-a7882a80-b0a6-11ea-9fc3-d041d4bc5499.png)

And my `post_push` (which runs PER build) looks like this:
[code]

This, in effect, runs `manifest-tool` once for each build, and knows about one architecture (just the one being built.

[code

[2020-06-18 13:15] jnovack commented on #95
In a flint of inspiration, I realized that, "No, I don't have to hard code the other archs, I can `find`/`glob` the `Dockerfile`s.

Once I did that, I realized that I don't only need to build ONE container, I can build [ALL THE THINGS](https://knowyourmeme.com/memes/all-the-things).  This way I can keep track of them.

Long story short (too late!), I'm now building all my architectures within one

[2020-06-18 17:02] estesp commented on #95
These are some good questions, and I'm sure the documentation in this repo could be more clear on the usage side for various scenarios. Mostly the topic of "how do I?" has been shared in other venues like talks about multi-arch build pipelines and/or specific users (like how `manifest-tool` is used by the official images update scripts for DockerHub). I should probably add a section to link to som

[2020-06-28 03:44] KateGo520 opened #97 "Errors will happen when upgrading the library"
(The purpose of this report is to alert `estesp/manifest-tool` to the possible problems when `estesp/manifest-tool` try to upgrade the following dependencies)

## An error will happen when upgrading library _github.com/codegangsta/cli_:

### github.com/codegangsta/cli
-Now Moved To: [github.com/urfave/cli](https://github.com/urfave/cli)
-Latest Version: v2.2.0 (Latest commit d648edd on 6 Mar)
-Whe

[2020-06-28 03:46] KateGo520 commented on #97
@estesp  @jnovack  Could you help me review this issue? Thx :p

[2020-06-30 14:25] jnovack commented on #97
I'll be honest, this was a little too long and my attention span didn't allow for the length.  Buffer overflow.  Are you trying to build the package?  Can you summarize the issue in 25 words or less?

Either way, I have no power here, I merely stumbled upon this wonderful, awesome, excellent application.

[2020-06-30 15:14] KateGo520 commented on #97
@jnovack  Thanks for your reply. This report is a warm prompt for you to prevent or combat this issue. Just let you know the problem if you upgrade this dependency in near future.

Hope this can help you.
Thanks again.
Kate

[2020-08-06 02:46] hmtai opened #98 "manifest not found"
When I use manifest-tool to make multiarch image,it seems that I pushed the multiarch image successfully.The amd64 ppc64le s390x images are sepreated build on amd64 ppc64le s390x hosts.
However when I pull the multiarch image it said that `manifest not found`
[code]
[code]
I don't know why it is not found.Can some one take a look at this problem?Thanks.

[2020-08-06 13:40] estesp commented on #98
That's pretty confusing as the last line of your output shows a digest that is a response from the registry side; it also means the registry responded with a successful HTTP response code. Can you try this command?

`$ manifest-tool inspect hyc-cloud-private-integration-docker-local.artifactory.swg-devops.com/ibmcom/default-http-backend@sha256:77a6a492b57272e8818cd3a300cc40d24c1d87c20275940e7a7610

[2020-08-07 01:45] hmtai commented on #98
@estesp Thanks for your quick response,I try your command:
[code]

[2020-08-07 15:03] estesp commented on #98
Hmm, this means Artifactory lied to us when it gave us a SHA and a success response code! I'm not sure if you are able to build the `v2-rework` branch and try with `--debug`, but that will give all the detail on the HTTP traffic between the registry and `manifest-tool` given on that branch I switched to using the containerd library for registry interaction. If you can't build that branch let me kn

[2020-08-10 16:55] ashank07 commented on #98
Hi Phil, working with some of our developers we noticed that we are seeing different behavior with `v0.7.0` and `v1.0.0` of the manifest-tool.

I just did a manual test where I downloaded a pause image for 3 different architectures and retagged it just to have something small, giving me these 3 images:
[code]

I then ran the following command to upload the manifest list using the `v0.7.0` version

[2020-08-19 11:12] estesp commented on #98
@ashank07 you are correct--that does seem to be a bug in the migration to the newer handlers for named references between 0.7.0 and 1.0.x; interestingly the Docker v2 registry doesn't seem to care, and I know other registries seem to be handling this without an error, even though it definitely seems wrong to be pushing the sha256 references to the tag endpoint. I can inspect and even look at the o

[2020-09-03 19:21] estesp commented on #98
@hmtai and/or @ashank07: are you able to try out the fix in PR #100? I believe this is the problem you are hitting

[2020-09-16 15:21] estesp commented on #98
ping @hmtai or @ashank07 : any chance you can try the above fix? Thanks!

[2020-09-16 20:32] ashank07 commented on #98
@estesp Apologies, I must have missed the notification from your first ask.

I built the manifest-tool binary from the branch that PR is based on:
[code]

Looks like that is working, after using that version to push a manifest-list to Artifactory the structure looks correct in the Artifactory UI, and I am able to successfully inspect the manifest using the docker manifest inspect command (which wa

[2020-09-16 20:36] #98 closed

[2020-09-17 01:22] hmtai commented on #98
Thanks @estesp @ashank07 this fix works now.

[2020-10-23 20:58] #92 closed

[2020-10-24 21:36] #94 closed

[2020-10-24 21:37] estesp commented on #97
Closed by #103

[2020-10-24 21:37] #97 closed

[2020-12-07 00:19] d7415 opened #105 "Retagging existing manifest lists"
In https://github.com/estesp/manifest-tool/issues/31#issuecomment-308478777 and https://github.com/estesp/manifest-tool/pull/32#issuecomment-308506211 there was discussion of possible remote tagging capabilities in either `manifest-tool` or `docker manifest`, but I can't find any results.

My goal: Take an existing multi-arch tag (from `docker buildx`) and apply a new tag to it, without rebuilding

[2020-12-23 01:15] daixiang0 opened #107 "Failed to push manifest to a private registry"
Failed log:
[code]

I use harbor 2.1 to setup registry, images of amd64/arm32v7/arm64v8 exist, but with multi-manifests, it fails to push.
The `192.168.0.2:30003/ubuntu@sha256:17485683d2b9122b2c979728834b97b521ddcdaa824dbaaeb73b9bcd4887e66a` does not exist while it is normal since i want to push it as totally new i think.

Since it exists root path, i do not create a sub-project like amd64 does.

[2020-12-23 02:16] daixiang0 commented on #107
I use docker client and same error:
[code]
I setup registry with harbor 2.1, is there something import i miss?
Why `amd/ubuntu:18.04` mediaType is v1, i do not config it.

[2020-12-23 03:59] tianon commented on #107
I think what you're missing is that Harbor always includes a "project" name, and you are trying to push without that -- if you instead try something like `192.168.0.4:30003/library/ubuntu:18.04`, it will probably work.

[2020-12-23 06:27] daixiang0 commented on #107
It is the root cause, seem harbor has no plan to support this: https://github.com/goharbor/harbor/issues/10648

[2020-12-23 06:27] #107 closed

[2021-01-08 20:45] jonjohnsonjr commented on #105
Unrelated, but I don't think this is actually true either?

FWIW, I maintain a tool that can do this via [`crane tag`](https://github.com/google/go-containerregistry/blob/master/cmd/crane/README.md). I believe [`skopeo copy`](https://github.com/containers/skopeo/blob/master/docs/skopeo-copy.1.md) will also do this.

[2021-01-08 21:00] jonjohnsonjr opened #108 "The allowed os/arch combinations are too restrictive"
I stumbled across this hardcoded list in manifest-tool while reviewing something unrelated: https://github.com/estesp/manifest-tool/blob/2d360eeba276afaf63ab22270b7c6b4f8447e261/pkg/util/os.go#L5-L41

[Per the spec](https://github.com/opencontainers/image-spec/blob/master/image-index.md#image-index-property-descriptions), `os` and `architecture` values come from GOOS/GOARCH, while the `variant` fi

[2021-02-05 22:12] estesp commented on #108
Good catch; I've opened #110 to solve this, at least in the sense that I can make it part of release to run `go generate` to get the current supported list from Go. If there is a better way to handle this at runtime I'm open to ideas.

[2021-02-05 22:25] jonjohnsonjr commented on #108
So the main issue isn't that this was hardcoded, it's that you're checking the GOOS/GOARCH combination intead of just GOOS and GOARCH separately.

Instead of this:
[code]

You want something like:
[code]

These values being valid is unrelated to whether or not golang can compile that particular combination (which is what you're checking atm).

[2021-02-08 20:25] estesp commented on #108
@jonjohnsonjr thanks for the clarification. I think what I was missing is the difference between "spec compliant" and trying to do something along the lines of input validation.

I'm leaning towards this particular tool being more valuable with some validation for the end user that what they are submitting as a platform object has "reasonableness" from the this-possibly-could-work standpoint. The

[2021-02-08 22:17] jonjohnsonjr commented on #108
tl;dr there are valid platforms that go cannot compile and invalid platforms that go can compile, so it's not a great proxy for validating a container platform

From this perspective, what you have is not restrictive enough 😄 go can compile for a lot of platforms that probably won't be running a container.

I've tried to explain with a terrible diagram:

![image](https://user-images.githubusercont

[2021-02-08 22:41] estesp commented on #108
Yup, totally understand. In a simpler time the Go-as-a-proxy for container platforms was a pretty reasonable bet, or at least the Venn diagram had enough overlap that it was "good enough".

My general data-agnostic 😇 hope was that the blue "outside the red" overlap was incredibly niche for now, but maybe `windows/arm64` is a good enough example that it isn't. And you're right, validation against a

[2021-02-08 23:04] jonjohnsonjr commented on #108
Ooh interesting... [this one](https://fosdem.org/2021/schedule/event/containers_darwin_containerd/)? This seems to just run linux containers on darwin, from the abstract, but I haven't watched the talk yet.

🎉

I definitely understand the logic from before, but this feels like the better of two imperfect options :P

[2021-02-09 18:31] #108 closed

[2021-04-02 20:20] estesp commented on #105
All the code bits are here in `manifest-tool` to do a "remote tag" but given the only commands exposed are `push` and `inspect`, it would require adding a new `tag` command, and I feel like other tools, like @jonjohnsonjr mentioned, exist to provide that feature without me starting to expand `manifest-tool` into a general registry client.

[2021-04-04 03:49] #64 closed

[2021-04-04 21:43] d7415 commented on #105
Hi. Sorry - I was going to return here when I'd tried those out, but haven't had time. I'm happy to close this in light of those options. Thanks @jonjohnsonjr!

[2021-04-04 21:43] #105 closed

[2021-05-06 07:22] jianzhangbjz opened #120 "application/vnd.docker.distribution.manifest.v1+prettyjws not supported"
Not sure why not support the `signed manifest`. @estesp Could you help have a look when you're free? Thanks!

[code]

[2021-05-18 08:43] ajaykmis opened #121 "[Feature Request]: from-args should support docker manifest like syntax"
First of all, Thanks for the tool!!

I am trying to use this to create/push a manifest from inside the docker container (can't use docker).  I want to **avoid** writing a temporary file to pass in from-spec.

so, for the `from-args`, would it be possible to add multiple args (similar to docker manifest) to add images to the manifest. Currently the `--template` only takes the name of the image, for

[2021-05-19 20:20] estesp commented on #120
The main issue is that in manifest-tool 2.x I have removed all the custom code for registry interactions and rely on the containerd Go resolver code, which no longer supports v1 (pre-OCI) manifests: https://github.com/containerd/containerd/blob/master/remotes/handlers.go#L100-L101

To overcome this I would have to copy the fetch handler into manifest-tool and I would prefer to rely on improvements

[2021-06-24 03:32] thockin opened #122 "v2.0.x containerd docker remote bug: sometimes gets "cannot reuse body, request must be retried""
[code]

Syncing to v1.0.3 works, but since this doesn't use go modules, that's a PITA :)

[2021-06-24 14:21] estesp commented on #122
Hmm, strange. I tested v2.0.0-beta.0 with GCR, but my normal test image uses repos not tags for differentiating the platforms. I'll have to test with tags in case that changes behavior in some way.

Just tried again to make sure:
[code]

[2021-07-09 06:15] tianon commented on #25
I think https://github.com/docker/hub-tool is going to be our best hope for this one. :sweat_smile:

[2021-07-12 02:28] tianon opened #124 "ECR Public?"
Has anyone successfully used `manifest-tool` against ECR Public?  I'm trying both 1.0 and 2.0 and coming up short, and hoping maybe there's something I'm doing wrong, but both versions are failing in different ways with the same YAML.

Here's an example YAML, for reference (if you have an ECR Public repository, you should be able to swap this first `image:` and test for yourself :innocent:):

[cod

[2021-07-29 01:43] juan-chan commented on #120
I need to support `application/vnd.docker.distribution.manifest.v1+prettyjws` too, for compatible.

[2021-07-29 16:00] tianon commented on #124
I have an interesting bit of added information -- I'm _also_ not able to successfully create these via `docker manifest`:

[code]

(Suspiciously similar error!)

[2021-07-30 16:15] tianon commented on #124
For your sake, Phil, I want to report over here that the workaround I tested in https://github.com/aws/containers-roadmap/issues/1459#issuecomment-889979671 worked on both `manifest-tool` 1.0 and the 2.0+ build I have that includes #123 :innocent:

(Gotta use 2.0 ultimately because there isn't a 1.0 that accepts `riscv64` :smile:)

[2021-08-16 15:35] YAMLcase commented on #121
This would be really useful to rebuild official docker images with only the os/arch we need, i.e. those that we're actually using and passed vulnerability scanning.  What we're currently doing is `manifest inspect` to get select digests, then build a spec file with those digests.:

[code]

[2021-09-12 22:46] thockin opened #127 "Modules not working (canonical imports wrong?)"
[code]

[2021-09-14 18:55] thockin commented on #127
I've not  been paying close attention - is it workable to tag a v1.0.4 ?

On Tue, Sep 14, 2021 at 7:34 AM Phil Estes ***@***.***> wrote:

[2021-09-15 02:54] estesp commented on #127
So, I think I can do a `v1.0.4` although there are things that are still broken in the 1.x manifest-tool. Maybe a better question (after spending a few hours fighting go module stuff) is what do you want to be the result of `go get`? I've recently moved up to 1.17 and `go get` doesn't install binaries, and `go install` has been purposefully ["broken" to not work if the `go.mod` has `replace` direc

[2021-09-15 03:06] thockin commented on #127
I wanted to list it as a dep of a module.

On Tue, Sep 14, 2021, 7:54 PM Phil Estes ***@***.***> wrote:

[2021-09-15 04:33] marcosnils commented on #127
I thought you where trying to make `go` install the binary in your system. Now I understand that you're trying to add it as a module.

If that's the case I don't think that the fact that `go install` doesn't work it'll be an issue. `go install` doesn't work here given the `replace` directives as intended by the tool. However, it shouldn't cause any problems if including it as a module since the `u

[2021-09-15 04:49] marcosnils commented on #127
:wave: wrote an answer that I later deleted since I missed the `tools.go` detail. Just pushed an updated example here (https://github.com/marcosnils/test) where you can clone that repo and perform the `go install` successfully. The "problem" here is that since `replace` directives are not being taken into account, go chooses the `v1.22.2` version of the `urfave` dependency which contains a regress

[2021-09-15 05:02] marcosnils commented on #127
Update: Interestingly, if you add the same `replace` directive in your repo, the `go install` work as intended. Just verified that the resulting `manifest-tool` binary has the correct replacement with `go version -m $(which manifest-tool)`.

Just updated my sample repo to reflect this.

[2021-09-15 15:39] thockin commented on #127
It still doesn't work:

[code]

I added `replace github.com/urfave/cli => github.com/urfave/cli v1.22.1` to go.mod.

:(

[2021-09-15 15:53] marcosnils commented on #127
`1.0.3` doesn't have any go.mod definitions, hence that's why you're getting dependency errors.

this works go get -v -d github.com/estesp/manifest-tool/v2@latest. That's what I tried before

[2021-09-15 15:56] estesp commented on #127
If you are wanting to rely on 1.0.x I can try and work up a `go.mod` there and cut a `v1.0.4` release; as @marcosnils said, so far I was focused on trying to fix it for the `main` branch which is now the v2 codebase.

The v1 code was still using `vndr` and never supported Go modules properly as that was several years ago.

[2021-09-15 16:04] thockin commented on #127
I just want one that works - if you tell me that is v2, I'll try it :)

On Wed, Sep 15, 2021 at 8:56 AM Phil Estes ***@***.***> wrote:

[2021-09-15 16:05] thockin commented on #127
Is there a root cause for this conflicting import name which could be
merged back to eliminate this `replace` ?

On Wed, Sep 15, 2021 at 9:04 AM Tim Hockin ***@***.***> wrote:

[2021-09-15 16:21] thockin commented on #127
Hmm...  The `go get -d` worked:
[code]

But I am still missing  something - how do I build  it?

[code]

Other (non-v2) tools work:

[code]

[2021-09-15 16:31] marcosnils commented on #127
`go install github.com/estesp/manifest-tool/v2/cmd/manifest-tool`

^ if you run that command inside your `tools` project, it'll use the version you have defined in your go.mod and put the `manifest-tool` binary in your $GOPATH/bin directory.

[2021-09-15 16:33] thockin commented on #127
I feel dumb.  THanks.

On Wed, Sep 15, 2021 at 9:31 AM Marcos Nils ***@***.***>
wrote:

[2021-09-15 16:37] estesp commented on #127
At least I'm not the only one. :joy: Thanks @marcosnils for your help and example here!

[2021-09-15 16:39] marcosnils commented on #127
We all feel the same :hugs:

[2021-09-15 16:40] estesp commented on #122
Any chance you've been able to try this again? Especially now that maybe you are using v2 :) I have never been able to reproduce an issue pushing to GCR.

[2021-09-15 17:22] thockin commented on #127
I will repeat, so it doesn't get lost: Is there a root cause for this conflicting import name which could be merged back to eliminate this `replace` ?

[2021-09-15 17:24] thockin commented on #122
I have  not had need to push a manifest lately, but I will try to fake one
up and let you know.

On Wed, Sep 15, 2021 at 9:41 AM Phil Estes ***@***.***> wrote:

[2021-09-15 19:33] marcosnils commented on #127
hey Tim,  the `replace` directive is not there to prevent the conflicting import name, it prevents a regression on the `urfave/cli` library that hasn't yet been fixed upstream as indicated in the `go.mod` comment (https://github.com/urfave/cli/issues/1092) Seems like the project kind of stalled.

AFAIK the right way to get rid of that replace directive is to either bump `urfave/cli` to v2 (as long

[2021-09-16 00:02] thaJeztah commented on #127
It's complicated; think the main issue is that codegansta/cli added a go.mod with the new name (urfave/cli) without updating the major version.

Versions until v1.20 had no go.mod, so could be found under the old name; https://pkg.go.dev/github.com/codegangsta/cli?tab=versions

However, because those versions didn't have a go.mod, it appears they're  also indexed under the new name; https://pkg.go

[2021-09-27 03:05] jianzhangbjz commented on #120
@estesp Sorry for the late reply. I missed the message. Thanks for your clarification! I see now, I think I can update the image's schema from v1 to v2 by using the `docker` tool, and then use this `manifest-tool` to check the manifests. Thanks! I don't have the specific requirement for this.
/close

[2021-09-27 03:06] #120 closed

[2021-11-14 15:29] mkumatag opened #132 "Latest code throws an error while inspecting registry.access.redhat.com/ubi8/ubi image"
Error:

[code]

and `docker manifest` does work properly and prints:
[code]

[2021-11-14 15:30] mkumatag commented on #132
cc @estesp

[2021-11-16 14:54] estesp commented on #132
I should definitely make that error clearer; unlike most of the docker client tools, I chose the containerd model of not assuming `latest` tag, so it is erroring out because it isn't a full reference (object).  If you add `:latest` to your image name above it works properly.

However, let's leave this open and I'll look at making a clearer error message asking for a full reference to the image.

[2021-12-02 20:26] estesp commented on #132
#135 will make this clearer

[2021-12-02 20:52] #132 closed

[2022-01-04 15:07] Vrtak-CZ opened #138 "macOS - ARM build"
Hi, can you please build also darwin_arm64 binaries? For new Apple Macs with M1 chips.

[2022-01-05 19:26] estesp commented on #138
Absolutely; I own an M1 so not sure why I hadn't done this yet :) PR #139 will fix this.

[2022-01-05 19:34] #138 closed

[2022-01-09 21:30] migel opened #141 "Error in dockerhub tag"
The image `mplatform/manifest-tool:v1.0.3-linux-arm64` on dockerhub is for `linux/amd64` platform

https://hub.docker.com/layers/mplatform/manifest-tool/v1.0.3-linux-arm64/images/sha256-4293deb209ae304d08dc538f7447fe6997c436d9a92857cc16732df17eb6e4e7?context=explore

<img width="585" alt="image" src="https://user-images.githubusercontent.com/3897227/148701672-f966ca9c-6121-467b-abda-d88264389715.p

[2022-02-14 20:35] estesp commented on #141
This has been corrected with the v2.0.0 release that went out today. `docker buildx` with the `--platform` flag is now being used so that images have the correct platform notation, even though the older v1.x images had the "right" binary inside them, the way they were built was a bit of a hack and showed the host/build platform instead of the target for the image itself.

Please let me know if you

[2022-02-14 20:35] #141 closed

[2022-02-14 20:36] estesp commented on #122
Just released v2.0.0 and it seems to be working fine with GCR in my tests. Going to close this for now but feel free to re-open if you are able to reproduce.

[2022-02-15 08:21] max-wittig opened #150 "Provide better release filenames"
First of all. Thank you for this tool!

Just noticed that using`manifest-tool` e.g. in a CI pipeline, one needs to provide the version several times.

[code]

[2022-02-21 15:21] bastianbeier opened #154 "Can local tarballs be used for push?"
Hello,
I would like to use manifest-tool to build a multi-arch image from two tarballs that i have only locally.
Is this possible? It would be great if I don't need to push them first to "merge" them. I didn't find any documentation on that. Usecase would be CICD for this.
e.g
[code]
Thank you in advance!
Greetings Basti

[2022-02-23 18:11] estesp commented on #154
this code isn't really designed to handle image creation today (which is more than just pushing layer blobs) and I would rather keep this tool distinct/simple compared to tools which can handle many more image operations.

[2022-03-07 11:43] tboerger opened #156 "Is 2.0.0 broken for Quay.io?"
I'm using the manifest-tool already quite long and never had any issues with it until I updated to 2.0.0. With this version I'm receiving an error while trying to push the manifest to Quay:

[code]

Is there anything I can fix on my side? Or is Quay really currently broken with manifest-tool?

[2022-03-07 19:37] estesp commented on #156
I've tried to reproduce this without success; can you provide some more data; maybe with `--debug`?  My local attempts with both `main`'s `HEAD` commit (a few vendored updates since 2.0 release) as well as the exact `v2.0.0` binary are below. I'm only including the push of the final manifest list entry with `--debug` to validate it pushed to quay:

[code]

I then inspected this new image (just FYI

[2022-03-07 20:09] mthalman commented on #156
I have the exact opposite problem with Quay. It works with 2.0.0 but fails with 1.0.3:

[code]

[2022-03-07 20:17] mthalman opened #158 "v2.0 doesn't include layer data in raw output"
I'm attempting to upgrade from 1.0.3 to 2.0.0 of the manifest-tool. With 1.0.3, my implementation made use of the `inspect --raw` option to parse the layer metadata. But in 2.0.0, no layer metadata is output when using the `--raw` option. It only provides the following example output:

[code]

Was this intentional? Is there a way to get machine-readable data for the layers?

[2022-03-08 15:23] estesp commented on #158
The `--raw` mode in 1.x was based around a contrived object type/struct of various information packed together that came from the original codebase this tool was based on. It wasn't a data type based on the actual content (e.g. an OCI image or image config) so I left it behind with the significant refactoring for 2.x.

Obviously the fetch flow even in 2.x has access to some of this data (assuming

[2022-03-08 15:50] mthalman commented on #158
Yes, that would be sufficient. In my case, all I need is the digests of each of the layers.

[2022-03-08 19:21] tianon commented on #158
I wonder if something like [crane](https://github.com/google/go-containerregistry/tree/main/cmd/crane) or [regclient](https://github.com/regclient/regclient) might meet your specific needs a little more closely? :innocent:

[2022-03-09 07:57] tboerger commented on #156
I have executed the manifest-tool now manually with an older version of my images. I tried it with the existing manifest and I also tried it after deleting the manifest, same results:

[code]

For now I will do a downgrade to latest 1.x.x release to get my pipelines working again, but I would love to use the new version when it works, of course.

[2022-03-11 17:44] thockin commented on #122
I'm baaaaaack

[code]

I have no idea where to even start

[2022-03-11 18:05] thockin commented on #122
FWIW manifest-tool 1.0.3 still works:

[code]

[2022-03-11 20:27] estesp commented on #122
You may not be alone; looks like this might be a codepath my testing just isn't hitting (and we have a recent report in [containerd proper](https://github.com/containerd/containerd/issues/5978) as well); also https://github.com/estesp/manifest-tool/issues/156#issuecomment-1062647604

In the #156 issue, I see a 404 response that my tries with Quay aren't getting, and that potentially **is** trying

[2022-03-11 20:31] estesp commented on #156
Looks like #122 is finding the same issue; I don't get the 404 that I see near the end of your debug output when it's trying to assemble the final manifest in the registry:
[code]
and it's from there that the reply/response cycle may actually be reusing a body incorrectly when it triggers an auth flow?

[2022-03-11 23:09] thockin commented on #122
Let me know if I can help with debug traces or something...

On Fri, Mar 11, 2022 at 12:27 PM Phil Estes ***@***.***>
wrote:

[2022-03-13 22:16] tboerger commented on #156
If you need any further debug information just let me know :)

[2022-03-14 17:18] estesp commented on #156
I was able to reproduce it; there are 2 issues at play--one is the known "cannot reuse body" issue which we have someone assigned to work on and fix in the containerd registry push handler. When that fix is available it should solve the overall problem of retry with auth during a push.

The second is that it looks like maybe there is something with token scopes/auth that makes this only reproducib

[2022-03-14 17:22] estesp commented on #122
Thanks; just found a reproduce scenario and found that, aside from the fact containerd is working on fixing the "body reuse" problem, there is a different flow of registry interaction when the source repos are != target repo (e.g. use "names" not "tags" to differentiate OS/arch).

When all source images are in the same repo namespace as the target manifest list, that flow ends in a 404 existence c

[2022-03-15 16:51] estesp commented on #156
Worked around in #159 until containerd has a complete fix for the retry on auth challenge issue with req body reuse.

I've tested Quay and verified this fixes this issue with using manifest-tool v2 and Quay.io. Interestingly, if you set the repo to private or source any of the platform images from a private repo the 401 auth challenge comes during a "fetch" and you don't get the error. That's why

[2022-03-15 19:31] thockin commented on #122
Works for me, commented in #159

On Tue, Mar 15, 2022 at 12:14 PM Tim Hockin ***@***.***> wrote:

[2022-03-15 20:52] #122 closed

[2022-03-15 20:52] #156 closed

[2022-03-15 22:41] estesp commented on #156
You can test/verify with the latest release:
[code]

[2022-03-16 08:06] tboerger commented on #156
Thanks for the effort, I can confirm that the latest release has resolved my issues for Quay.io :)

[2022-04-20 08:19] jianzhangbjz opened #163 "Panic when using the `--docker-cfg` flag"
manifest-tool version:
[code]
help info:
[code]
It panics when I specify another auth file path.
[code]
Seems like the root cause is here, it adds a hard-code file name:`config.json`.
[code]
Maybe we should update the `help` info: `--docker-cfg value  Docker's cli config for auth (default: "/home/cloud-user/.docker")` Or update this flag to compatible with `podman` auth file.

[2022-06-14 14:48] umesecke opened #165 "provide additional Alpine-based Docker image for use in Gitlab CI pipelines"
The published Docker image only contains the executable `manifest-tool` which is fine for running it locally on my machine. But when trying to use the image in our Gitlab CI pipeline it does not work because Gitlab requires a shell in the image.

Could you provide an additional image based on Alpine as well?

[2022-06-21 22:34] Starttoaster commented on #165
For that matter, this would be useful in _any_ CI tool that runs job scripts inside a container. Which is a lot of them.

I've taken to making my own unofficial manifest-tool images, as have many many other people. This would be an extremely welcome addition for anybody that builds images in CI and would like to add this to their pipeline to merge multiple single-arch image manifests.

[2022-06-21 22:46] Starttoaster commented on #165
For what it's worth, if it saves anybody else a couple minutes, this is my Dockerfile:

[code]

Build with the container image builder of your choice, and make sure to pass `GOOS` and `GOARCH` on the command line as build args.

Or if you want, you can use my image. It only currently supports linux amd64 and arm64, and it's available at `registry.gitlab.com/brandonbutler/images/manifest-tool:lates

[2022-06-23 18:43] estesp commented on #165
This seems reasonable; my only concern is whether I will need to handle a more regular respin once there are OS components to handle CVE/fixes over time versus only generating images on this tool's release boundaries. Let me look into it. I could at least have a variant of both the binary-only image and an Alpine based and potentially warn that the Alpine based is effectively as-is, potentially wi

[2022-06-25 01:35] Starttoaster commented on #165
The way I currently handle this is just scheduled image builder pipelines in CI that pull whatever the current `alpine:3` is that moment in time. If this breaks, IMO it's OSS and if somebody complains they're welcome to a PR, right? ;)

If someday an `alpine:4` comes out, maybe you update to that if you feel so inclined, or maybe somebody opens an Issue and you tell them they are welcome to submit

[2022-06-25 01:40] Starttoaster commented on #165
If you'd like, I could take a stab at this myself. You've seen my Dockerfile posted above already. I'm more familiar with GitLab but have used GitHub Actions. I just haven't actually yet because I was curious what your response would be to this Issue :)

[2022-06-29 15:15] estesp commented on #163
Good catch; yes, since I'm using vendored code to handle the Docker cli config, I have no control of the path handling in that vendored function, which is hardcoded to look for a `config.json` in the directory specified.

I can make the help text clearer as well as catch if the provided string is not a valid directory path to remove the segv result and just error out instead.

[2022-06-29 15:47] estesp commented on #163
See #168 for a fix

[2022-06-29 16:08] #163 closed

[2022-07-01 16:38] jsoref opened #171 "Reword error about image mismatch"
There's a long story here -- usually I randomly visit repositories and offer spelling fixes. But in this case, I'm actually trying to fix a real problem in another repository and hoping to use manifest-tool to achieve that.

The main goal is to be able to add a new tag (`latest`) to a specific image. But, my testing environment doesn't have enough things (and I don't have write access to docker hu

[2022-07-01 17:32] #171 closed

[2022-07-01 17:54] jsoref opened #173 "Provide a way to add a tag to an existing image"
As described in #171, I have a multiarch image and want to add a new tag to it.

I'd really love to be able to just use `manifest-tool tag <source-tag> <dest-tag>` and have it do what I want.

I have a https://github.com/jsoref/manifest-tool/commit/retag-image script as a proof of concept.

-- It doesn't _technically_ do the right thing for a single image, as it creates a manifest pointing to a si

[2022-07-01 23:40] tianon commented on #173
You might appreciate `regclient` or `crane` :eyes:

(https://github.com/regclient/regclient, https://github.com/google/go-containerregistry/blob/main/cmd/crane/doc/crane.md)

[2022-07-01 23:51] jsoref commented on #173
I've used crane for other tasks... (It's on my todo list). Adding regclient.

Indeed, it seems that I don't need manifest-tool here, although it would be nice if the front page had refs. As finding the right tool for these tasks is way more painful/frustrating than it should be...

[2022-07-12 17:55] #165 closed

[2022-07-12 18:45] estesp commented on #165
This is currently available in the just-released v2.0.4:
[code]

[2022-07-13 05:47] Starttoaster commented on #165
Worth noting in addition that to use this specifically in gitlab CI, you will need to override the entrypoint like so:

[code]

Just figured I'd add this note for posterity. Thanks again for this Issue and for accepting the PR! Really glad to not have to maintain my own image now 🎉

[2022-07-26 16:44] estesp commented on #127
With v2.0.5 (just released), you can now install the `manifest-tool` command with:

[code]

You can also create a new `go.mod` for a new project and properly do `go get github.com/estesp/manifest-tool/v2` and it works without any replace rules as well.

[2022-07-26 17:24] thockin commented on #127
Weird:

[code]

[2022-07-26 17:27] thockin commented on #127
Huh, blowing away go.mod and starting fresh makes it work.

[2022-07-27 17:11] deitch opened #180 "Push support for types.OCI"
When calling [PushManifestList](https://pkg.go.dev/github.com/estesp/manifest-tool/pkg/registry#PushManifestList), it [always sets](https://github.com/estesp/manifest-tool/blob/dd311423107e/pkg/registry/push.go#L30) the `image.Type` to [types.Docker](https://pkg.go.dev/github.com/estesp/manifest-tool@v1.0.4-0.20210209183109-dd311423107e/pkg/types#ManifestType), which resolves to `"application/vnd.

[2022-07-27 17:33] deitch commented on #180
And if it isn't, and you want a PR, I am happy to open one. I guess another parameter for `PushManifestList()`?

[2022-07-27 19:15] estesp commented on #180
I almost didn't believe you, but then I found it was *you* who removed that feature 😇 😓 😂

When you moved the code around to be more "library consumable" in #104 we lost the client context that was being used to differentiate OCI vs. Docker v2 pushes. Of course totally my bad to miss this when I reviewed the PR!

https://github.com/estesp/manifest-tool/commit/25aa9ae1deaf5ddb0be0b3f3c8d375c679906e

[2022-07-27 19:22] deitch commented on #180
I did that? 🤣

I will open a PR for it.

[2022-07-27 19:28] estesp commented on #180
Thanks!

[2022-07-27 19:28] deitch commented on #180
Have a look at #181

[2022-07-28 15:44] #180 closed

[2022-08-13 18:08] thesayyn commented on #150
I think this would be better as well. Perhaps their signatures could be provided to allow users to do integrity checking.

@estesp I'd be more than happy to work on this.

[2022-08-13 18:13] thesayyn opened #183 "FR: add `ocify` to convert between OCI and Docker mediaTypes"
Since this is a manifest manipulation tool, I thought it would be a great addition have a subcommand called `ocify` or `convert` to convert images between `docker v2` and `OCI` mediaTypes and Config.

An example cmd snippet

[code]

I'd be happy to implement this if that makes sense.

[2022-09-16 15:52] hgraca opened #185 "unsupported os/arch or os/arch/variant combination: linux/amd64/v8"
Hi,

I'm having this issue coming up:

`Manifest entry for image ...:5001/.../my-image:my-tag-arm64-8f483868 has unsupported os/arch or os/arch/variant combination: linux/amd64/v8`

However, this only happens when I use the latest version of manifest-tool, if I use version 1.0.3 it works fine.

I created the images with the commands:

`docker build --pull  --platform linux/arm64 -t "...:5001/.../m

[2022-09-16 16:41] tianon commented on #185
This sounds like it's a typo - you've got `amd64` where I think you meant `arm64` :grimacing:

[2022-09-16 16:41] tianon commented on #185
(the "levenshtein distance" between those is a literal crime :weary: :see_no_evil:)

[2022-09-27 13:02] estesp commented on #185
I think @tianon's response is correct; your pasted command shows an incorrect arch: amd64 vs. arm64. I assume if you fix that typo you should no longer get the error. Please re-open if we misunderstood your issue. If it works with v1.0.3 that's a bug and maybe the v1 codebase didn't have precise checking for os/arch/variant combinations?

[2022-09-27 13:02] #185 closed

[2022-09-27 17:22] hgraca commented on #185
Tkx for your replies, and apologies for being slow, only saw this now.

In any case, I went another way, so I guess I must have made a typo.

Again, tkx for the support.

[2022-10-11 08:31] thockin commented on #122
will try

On Tue, Mar 15, 2022 at 9:49 AM Phil Estes ***@***.***> wrote:

[2022-10-24 19:51] jsoref opened #189 "`invalid character 'c' looking for beginning of value `"
[code]

manifest-tool version 2.0.6 (commit: )

[2022-10-25 03:30] jsoref commented on #189
turns out this is a bug in the credential-helper.

[2022-10-25 03:30] #189 closed

[2022-10-29 16:06] MiRaIOMeZaSu opened #190 "Nexus Docker Registry not support."
I have nexus docker registry and it does support `docker manifest-v2-2` as well as `oci image index`(which I have tried with buildx).
But while I was going to push index with manifest-tool, it did't work. The YAML file is as follow:
[code]
and it failed with`FATA[0000] Error pushing manifest list/index to registry: sha256:273426f6391efb54d55c809383f7403cecf8f6fec220299d9bbaf2edbc0f4437: manifest l

[2022-10-30 06:36] MiRaIOMeZaSu commented on #190
Neither `manifest-tool` nor `docker mainfest` worked well, and I tried `podman manifest`, everything solved.

[2022-10-30 06:36] #190 closed

[2022-11-02 10:32] aamato80 opened #191 "Error pushing manifest list/index"
Hi all,

i am trying to use manifest-tool to create a multi architect docker image.
As explained in your guide, i created the different images, in my case for arm64 and amd64 with kaniko, and i tried to exexcute the manifest tool.
I tried both, yaml and spec mode, but without success.
I receive any way an error like this one:
`Error pushing manifest list/index to registry: sha256:0c91a4e37f4765d43

[2022-11-08 18:14] estesp commented on #191
Can you run the push with `--debug` and provide the output? It sounds like it thinks a required components of the full tree of contained images (configs, manifests, and layers) is not existing in the target repo.

Would be also good to understand which registry you are pushing to (self-hosted? based on distribution/distribution? version?)

[2022-11-30 14:11] olivermussell opened #192 "Image doesnt include docker-credential-ecr-login for AWS credential helper"
I’m running a Gitlab CI runner instance on Kubernetes (EKS) in AWS, and using an IRSA for authentication/permissions. manifest-tool is run in the pipeline once the multiple architecture images are created and pushed to the container registry (ECR). But when running manifest-tool to push the final manifest it was producing this error:

[code]

Which appears to be fixed by installing the `docker-cre